In [2]:
import pandas as pd

In [3]:
pd.__version__

'2.2.3'

In [4]:
df = pd.read_parquet("data/yellow_tripdata_2025-01.parquet")

In [5]:
df

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Airport_fee,cbd_congestion_fee
0,1,2025-01-01 00:18:38,2025-01-01 00:26:59,1.0,1.60,1.0,N,229,237,1,10.00,3.5,0.5,3.00,0.0,1.0,18.00,2.5,0.0,0.00
1,1,2025-01-01 00:32:40,2025-01-01 00:35:13,1.0,0.50,1.0,N,236,237,1,5.10,3.5,0.5,2.02,0.0,1.0,12.12,2.5,0.0,0.00
2,1,2025-01-01 00:44:04,2025-01-01 00:46:01,1.0,0.60,1.0,N,141,141,1,5.10,3.5,0.5,2.00,0.0,1.0,12.10,2.5,0.0,0.00
3,2,2025-01-01 00:14:27,2025-01-01 00:20:01,3.0,0.52,1.0,N,244,244,2,7.20,1.0,0.5,0.00,0.0,1.0,9.70,0.0,0.0,0.00
4,2,2025-01-01 00:21:34,2025-01-01 00:25:06,3.0,0.66,1.0,N,244,116,2,5.80,1.0,0.5,0.00,0.0,1.0,8.30,0.0,0.0,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3475221,2,2025-01-31 23:01:48,2025-01-31 23:16:29,NaN,3.35,NaN,None,79,237,0,15.85,0.0,0.5,0.00,0.0,1.0,20.60,NaN,NaN,0.75
3475222,2,2025-01-31 23:50:29,2025-02-01 00:17:27,NaN,8.73,NaN,None,161,116,0,28.14,0.0,0.5,0.00,0.0,1.0,32.89,NaN,NaN,0.75
3475223,2,2025-01-31 23:26:59,2025-01-31 23:43:01,NaN,2.64,NaN,None,144,246,0,14.91,0.0,0.5,0.00,0.0,1.0,19.66,NaN,NaN,0.75
3475224,2,2025-01-31 23:14:34,2025-01-31 23:34:52,NaN,3.16,NaN,None,142,107,0,17.55,0.0,0.5,0.00,0.0,1.0,22.30,NaN,NaN,0.75
3475225,2,2025-01-31 23:56:42,2025-02-01 00:07:27,NaN,2.29,NaN,None,237,238,0,12.09,0.0,0.5,0.00,0.0,1.0,16.09,NaN,NaN,0.00

In [6]:
len(df.columns)

20

In [7]:
!pip install mlflow

Requirement already satisfied: mlflow in /home/codespace/anaconda3/envs/mlops/lib/python3.13/site-packages (2.22.0)
Requirement already satisfied: mlflow-skinny==2.22.0 in /home/codespace/anaconda3/envs/mlops/lib/python3.13/site-packages (from mlflow) (2.22.0)
Requirement already satisfied: Flask<4 in /home/codespace/anaconda3/envs/mlops/lib/python3.13/site-packages (from mlflow) (3.1.1)
Requirement already satisfied: Jinja2<4,>=2.11 in /home/codespace/anaconda3/envs/mlops/lib/python3.13/site-packages (from mlflow) (3.1.6)
Requirement already satisfied: alembic!=1.10.0,<2 in /home/codespace/anaconda3/envs/mlops/lib/python3.13/site-packages (from mlflow) (1.16.1)
Requirement already satisfied: docker<8,>=4.0.0 in /home/codespace/anaconda3/envs/mlops/lib/python3.13/site-packages (from mlflow) (7.1.0)
Requirement already satisfied: graphene<4 in /home/codespace/anaconda3/envs/mlops/lib/python3.13/site-packages (from mlflow) (3.4.3)
Requirement already satisfied: gunicorn<24 in /home/codespace/anaconda3/envs/mlops/lib/python3.13/site-packages (from mlflow) (23.0.0)
Requirement already satisfied: markdown<4,>=3.3 in /home/codespace/anaconda3/envs/mlops/lib/python3.13/site-packages (from mlflow) (3.8)
Requirement already satisfied: matplotlib<4 in /home/codespace/anaconda3/envs/mlops/lib/python3.13/site-packages (from mlflow) (3.10.3)
Requirement already satisfied: numpy<3 in /home/codespace/anaconda3/envs/mlops/lib/python3.13/site-packages (from mlflow) (2.2.6)
Requirement already satisfied: pandas<3 in /home/codespace/anaconda3/envs/mlops/lib/python3.13/site-packages (from mlflow) (2.2.3)
Requirement already satisfied: pyarrow<20,>=4.0.0 in /home/codespace/anaconda3/envs/mlops/lib/python3.13/site-packages (from mlflow) (19.0.1)
Requirement already satisfied: scikit-learn<2 in /home/codespace/anaconda3/envs/mlops/lib/python3.13/site-packages (from mlflow) (1.6.1)
Requirement already satisfied: scipy<2 in /home/codespace/anaconda3/envs/mlops/lib/python3.13/site-packages (from mlflow) (1.15.3)
Requirement already satisfied: sqlalchemy<3,>=1.4.0 in /home/codespace/anaconda3/envs/mlops/lib/python3.13/site-packages (from mlflow) (2.0.41)
Requirement already satisfied: cachetools<6,>=5.0.0 in /home/codespace/anaconda3/envs/mlops/lib/python3.13/site-packages (from mlflow-skinny==2.22.0->mlflow) (5.5.2)
Requirement already satisfied: click<9,>=7.0 in /home/codespace/anaconda3/envs/mlops/lib/python3.13/site-packages (from mlflow-skinny==2.22.0->mlflow) (8.2.1)
Requirement already satisfied: cloudpickle<4 in /home/codespace/anaconda3/envs/mlops/lib/python3.13/site-packages (from mlflow-skinny==2.22.0->mlflow) (3.1.1)
Requirement already satisfied: databricks-sdk<1,>=0.20.0 in /home/codespace/anaconda3/envs/mlops/lib/python3.13/site-packages (from mlflow-skinny==2.22.0->mlflow) (0.53.0)
Requirement already satisfied: fastapi<1 in /home/codespace/anaconda3/envs/mlops/lib/python3.13/site-packages (from mlflow-skinny==2.22.0->mlflow) (0.115.12)
Requirement already satisfied: gitpython<4,>=3.1.9 in /home/codespace/anaconda3/envs/mlops/lib/python3.13/site-packages (from mlflow-skinny==2.22.0->mlflow) (3.1.44)
Requirement already satisfied: importlib_metadata!=4.7.0,<9,>=3.7.0 in /home/codespace/anaconda3/envs/mlops/lib/python3.13/site-packages (from mlflow-skinny==2.22.0->mlflow) (8.6.1)
Requirement already satisfied: opentelemetry-api<3,>=1.9.0 in /home/codespace/anaconda3/envs/mlops/lib/python3.13/site-packages (from mlflow-skinny==2.22.0->mlflow) (1.33.1)
Requirement already satisfied: opentelemetry-sdk<3,>=1.9.0 in /home/codespace/anaconda3/envs/mlops/lib/python3.13/site-packages (from mlflow-skinny==2.22.0->mlflow) (1.33.1)
Requirement already satisfied: packaging<25 in /home/codespace/anaconda3/envs/mlops/lib/python3.13/site-packages (from mlflow-skinny==2.22.0->mlflow) (24.2)
Requirement already satisfied: protobuf<7,>=3.12.0 in /home/codespace/anaconda3/envs/mlops/lib/python3.13/site-packages (from mlflow-skinny==2.22.0->mlflow) (6.31.0)
Requirement already satisfied: pydantic<3,>=1.10.8 in /home/codespace/anaconda3/envs/mlops/lib/python3.13/site-packages (from mlflow-skinny==2.22.0->mlflow) (2.11.4)
Requirement already satisfied: pyyaml<7,>=5.1 in /home/codespace/anaconda3/envs/mlops/lib/python3.13/site-packages (from mlflow-skinny==2.22.0->mlflow) (6.0.2)
Requirement already satisfied: requests<3,>=2.17.3 in /home/codespace/anaconda3/envs/mlops/lib/python3.13/site-packages (from mlflow-skinny==2.22.0->mlflow) (2.32.3)
Requirement already satisfied: sqlparse<1,>=0.4.0 in /home/codespace/anaconda3/envs/mlops/lib/python3.13/site-packages (from mlflow-skinny==2.22.0->mlflow) (0.5.3)
Requirement already satisfied: typing-extensions<5,>=4.0.0 in /home/codespace/anaconda3/envs/mlops/lib/python3.13/site-packages (from mlflow-skinny==2.22.0->mlflow) (4.13.2)
Requirement already satisfied: uvicorn<1 in /home/codespace/anaconda3/envs/mlops/lib/python3.13/site-packages (from mlflow-skinny==2.22.0->mlflow) (0.34.2)
Requirement already satisfied: Mako in /home/codespace/anaconda3/envs/mlops/lib/python3.13/site-packages (from alembic!=1.10.0,<2->mlflow) (1.3.10)
Requirement already satisfied: google-auth~=2.0 in /home/codespace/anaconda3/envs/mlops/lib/python3.13/site-packages (from databricks-sdk<1,>=0.20.0->mlflow-skinny==2.22.0->mlflow) (2.40.2)
Requirement already satisfied: urllib3>=1.26.0 in /home/codespace/anaconda3/envs/mlops/lib/python3.13/site-packages (from docker<8,>=4.0.0->mlflow) (2.4.0)
Requirement already satisfied: starlette<0.47.0,>=0.40.0 in /home/codespace/anaconda3/envs/mlops/lib/python3.13/site-packages (from fastapi<1->mlflow-skinny==2.22.0->mlflow) (0.46.2)
Requirement already satisfied: blinker>=1.9.0 in /home/codespace/anaconda3/envs/mlops/lib/python3.13/site-packages (from Flask<4->mlflow) (1.9.0)
Requirement already satisfied: itsdangerous>=2.2.0 in /home/codespace/anaconda3/envs/mlops/lib/python3.13/site-packages (from Flask<4->mlflow) (2.2.0)
Requirement already satisfied: markupsafe>=2.1.1 in /home/codespace/anaconda3/envs/mlops/lib/python3.13/site-packages (from Flask<4->mlflow) (3.0.2)
Requirement already satisfied: werkzeug>=3.1.0 in /home/codespace/anaconda3/envs/mlops/lib/python3.13/site-packages (from Flask<4->mlflow) (3.1.3)
Requirement already satisfied: gitdb<5,>=4.0.1 in /home/codespace/anaconda3/envs/mlops/lib/python3.13/site-packages (from gitpython<4,>=3.1.9->mlflow-skinny==2.22.0->mlflow) (4.0.12)
Requirement already satisfied: smmap<6,>=3.0.1 in /home/codespace/anaconda3/envs/mlops/lib/python3.13/site-packages (from gitdb<5,>=4.0.1->gitpython<4,>=3.1.9->mlflow-skinny==2.22.0->mlflow) (5.0.2)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /home/codespace/anaconda3/envs/mlops/lib/python3.13/site-packages (from google-auth~=2.0->databricks-sdk<1,>=0.20.0->mlflow-skinny==2.22.0->mlflow) (0.4.2)
Requirement already satisfied: rsa<5,>=3.1.4 in /home/codespace/anaconda3/envs/mlops/lib/python3.13/site-packages (from google-auth~=2.0->databricks-sdk<1,>=0.20.0->mlflow-skinny==2.22.0->mlflow) (4.9.1)
Requirement already satisfied: graphql-core<3.3,>=3.1 in /home/codespace/anaconda3/envs/mlops/lib/python3.13/site-packages (from graphene<4->mlflow) (3.2.6)
Requirement already satisfied: graphql-relay<3.3,>=3.1 in /home/codespace/anaconda3/envs/mlops/lib/python3.13/site-packages (from graphene<4->mlflow) (3.2.0)
Requirement already satisfied: python-dateutil<3,>=2.7.0 in /home/codespace/anaconda3/envs/mlops/lib/python3.13/site-packages (from graphene<4->mlflow) (2.9.0.post0)
Requirement already satisfied: zipp>=3.20 in /home/codespace/anaconda3/envs/mlops/lib/python3.13/site-packages (from importlib_metadata!=4.7.0,<9,>=3.7.0->mlflow-skinny==2.22.0->mlflow) (3.21.0)
Requirement already satisfied: contourpy>=1.0.1 in /home/codespace/anaconda3/envs/mlops/lib/python3.13/site-packages (from matplotlib<4->mlflow) (1.3.2)
Requirement already satisfied: cycler>=0.10 in /home/codespace/anaconda3/envs/mlops/lib/python3.13/site-packages (from matplotlib<4->mlflow) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /home/codespace/anaconda3/envs/mlops/lib/python3.13/site-packages (from matplotlib<4->mlflow) (4.58.0)
Requirement already satisfied: kiwisolver>=1.3.1 in /home/codespace/anaconda3/envs/mlops/lib/python3.13/site-packages (from matplotlib<4->mlflow) (1.4.8)
Requirement already satisfied: pillow>=8 in /home/codespace/anaconda3/envs/mlops/lib/python3.13/site-packages (from matplotlib<4->mlflow) (11.2.1)
Requirement already satisfied: pyparsing>=2.3.1 in /home/codespace/anaconda3/envs/mlops/lib/python3.13/site-packages (from matplotlib<4->mlflow) (3.2.3)
Requirement already satisfied: deprecated>=1.2.6 in /home/codespace/anaconda3/envs/mlops/lib/python3.13/site-packages (from opentelemetry-api<3,>=1.9.0->mlflow-skinny==2.22.0->mlflow) (1.2.18)
Requirement already satisfied: opentelemetry-semantic-conventions==0.54b1 in /home/codespace/anaconda3/envs/mlops/lib/python3.13/site-packages (from opentelemetry-sdk<3,>=1.9.0->mlflow-skinny==2.22.0->mlflow) (0.54b1)
Requirement already satisfied: pytz>=2020.1 in /home/codespace/anaconda3/envs/mlops/lib/python3.13/site-packages (from pandas<3->mlflow) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /home/codespace/anaconda3/envs/mlops/lib/python3.13/site-packages (from pandas<3->mlflow) (2025.2)
Requirement already satisfied: annotated-types>=0.6.0 in /home/codespace/anaconda3/envs/mlops/lib/python3.13/site-packages (from pydantic<3,>=1.10.8->mlflow-skinny==2.22.0->mlflow) (0.7.0)
Requirement already satisfied: pydantic-core==2.33.2 in /home/codespace/anaconda3/envs/mlops/lib/python3.13/site-packages (from pydantic<3,>=1.10.8->mlflow-skinny==2.22.0->mlflow) (2.33.2)
Requirement already satisfied: typing-inspection>=0.4.0 in /home/codespace/anaconda3/envs/mlops/lib/python3.13/site-packages (from pydantic<3,>=1.10.8->mlflow-skinny==2.22.0->mlflow) (0.4.1)
Requirement already satisfied: six>=1.5 in /home/codespace/anaconda3/envs/mlops/lib/python3.13/site-packages (from python-dateutil<3,>=2.7.0->graphene<4->mlflow) (1.17.0)
Requirement already satisfied: charset-normalizer<4,>=2 in /home/codespace/anaconda3/envs/mlops/lib/python3.13/site-packages (from requests<3,>=2.17.3->mlflow-skinny==2.22.0->mlflow) (3.4.2)
Requirement already satisfied: idna<4,>=2.5 in /home/codespace/anaconda3/envs/mlops/lib/python3.13/site-packages (from requests<3,>=2.17.3->mlflow-skinny==2.22.0->mlflow) (3.10)
Requirement already satisfied: certifi>=2017.4.17 in /home/codespace/anaconda3/envs/mlops/lib/python3.13/site-packages (from requests<3,>=2.17.3->mlflow-skinny==2.22.0->mlflow) (2025.4.26)
Requirement already satisfied: pyasn1>=0.1.3 in /home/codespace/anaconda3/envs/mlops/lib/python3.13/site-packages (from rsa<5,>=3.1.4->google-auth~=2.0->databricks-sdk<1,>=0.20.0->mlflow-skinny==2.22.0->mlflow) (0.6.1)
Requirement already satisfied: joblib>=1.2.0 in /home/codespace/anaconda3/envs/mlops/lib/python3.13/site-packages (from scikit-learn<2->mlflow) (1.5.0)
Requirement already satisfied: threadpoolctl>=3.1.0 in /home/codespace/anaconda3/envs/mlops/lib/python3.13/site-packages (from scikit-learn<2->mlflow) (3.6.0)
Requirement already satisfied: greenlet>=1 in /home/codespace/anaconda3/envs/mlops/lib/python3.13/site-packages (from sqlalchemy<3,>=1.4.0->mlflow) (3.2.2)
Requirement already satisfied: anyio<5,>=3.6.2 in /home/codespace/anaconda3/envs/mlops/lib/python3.13/site-packages (from starlette<0.47.0,>=0.40.0->fastapi<1->mlflow-skinny==2.22.0->mlflow) (4.9.0)
Requirement already satisfied: sniffio>=1.1 in /home/codespace/anaconda3/envs/mlops/lib/python3.13/site-packages (from anyio<5,>=3.6.2->starlette<0.47.0,>=0.40.0->fastapi<1->mlflow-skinny==2.22.0->mlflow) (1.3.1)
Requirement already satisfied: h11>=0.8 in /home/codespace/anaconda3/envs/mlops/lib/python3.13/site-packages (from uvicorn<1->mlflow-skinny==2.22.0->mlflow) (0.16.0)
Requirement already satisfied: wrapt<2,>=1.10 in /home/codespace/anaconda3/envs/mlops/lib/python3.13/site-packages (from deprecated>=1.2.6->opentelemetry-api<3,>=1.9.0->mlflow-skinny==2.22.0->mlflow) (1.17.2)

In [ ]:
import mlflow

mlflo

In [7]:
import sklearn

In [8]:
sklearn.__version__

'1.6.1'

In [9]:
df.dtypes

VendorID                          int32
tpep_pickup_datetime     datetime64[us]
tpep_dropoff_datetime    datetime64[us]
passenger_count                 float64
trip_distance                   float64
RatecodeID                      float64
store_and_fwd_flag               object
PULocationID                      int32
DOLocationID                      int32
payment_type                      int64
fare_amount                     float64
extra                           float64
mta_tax                         float64
tip_amount                      float64
tolls_amount                    float64
improvement_surcharge           float64
total_amount                    float64
congestion_surcharge            float64
Airport_fee                     float64
cbd_congestion_fee              float64
dtype: object

In [1]:
df['duration'] = df.tpep_dropoff_datetime - df.tpep_pickup_datetime
df.duration = df.duration.apply(lambda td: td.total_seconds() / 60)

NameError: name 'df' is not defined

In [ ]:
df.columns

In [ ]:
std_dev = df['duration'].std()
print(std_dev)

In [ ]:
import pickle
import seaborn as sns
import matplotlib.pyplot as plt

from sklearn.feature_extraction import DictVectorizer
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import Lasso
from sklearn.linear_model import Ridge

from sklearn.metrics import mean_squared_error
import numpy as np

In [ ]:
len(df)

In [ ]:
df = df[(df.duration >= 1) & (df.duration <= 60)]

In [ ]:
len(df)

In [ ]:
frac = 3009173 / 3066766 * 100
frac

In [ ]:


categorical = ['PULocationID', 'DOLocationID']
numerical = ['trip_distance']

df[categorical] = df[categorical].astype(str)

In [ ]:
train_dicts = df[categorical + numerical].to_dict(orient='records')

dv = DictVectorizer()
X_train = dv.fit_transform(train_dicts)

target = 'duration'
y_train = df[target].values

lr = LinearRegression()
lr.fit(X_train, y_train)

y_pred = lr.predict(X_train)

mse = mean_squared_error(y_train, y_pred)
rmse = np.sqrt(mse)

In [ ]:
lr

In [ ]:
train_dicts

In [ ]:
rmse

In [ ]:
len(train_dicts)

In [ ]:
X_train

In [ ]:
sns.distplot(y_pred, label='prediction')
sns.distplot(y_train, label='actual')

plt.legend()

In [ ]:
def read_dataframe(filename):
    if filename.endswith('.csv'):
        df = pd.read_csv(filename)

        df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
        df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
    elif filename.endswith('.parquet'):
        df = pd.read_parquet(filename)

    df['duration'] = df.tpep_dropoff_datetime - df.tpep_pickup_datetime
    df.duration = df.duration.apply(lambda td: td.total_seconds() / 60)

    df = df[(df.duration >= 1) & (df.duration <= 60)]

    categorical = ['PULocationID', 'DOLocationID']
    df[categorical] = df[categorical].astype(str)
    
    return df

In [ ]:
del df

In [ ]:
# df_train = read_dataframe('./data/yellow_tripdata_2023-01.parquet')
df_val = read_dataframe('./data/yellow_tripdata_2023-02.parquet')

In [ ]:
len(df_val)

In [ ]:
val_dicts = df_val[categorical + numerical].to_dict(orient='records')

X_val = dv.fit_transform(val_dicts)

In [ ]:
X_train

In [ ]:
X_val

In [ ]:

target = 'duration'
y_val = df_val[target].values

y_pred_val = lr.predict(X_val)

mse = mean_squared_error(y_val, y_pred_val)
rmse = np.sqrt(mse)

rmse

In [ ]:
# df_train['PU_DO'] = df_train['PULocationID'] + '_' + df_train['DOLocationID']
df_val['PU_DO'] = df_val['PULocationID'] + '_' + df_val['DOLocationID']

In [ ]:
categorical = ['PU_DO'] #'PULocationID', 'DOLocationID']
numerical = ['trip_distance']

dv = DictVectorizer()

"""
X_train, X_val -> sparse matrix로 표현
범주형 피처 -> 원핫인코딩, 차원 폭증
숫자형 피처 -> 그대로 사용
"""
# train_dicts = df_train[categorical + numerical].to_dict(orient='records')
# X_train = dv.fit_transform(train_dicts)

val_dicts = df_val[categorical + numerical].to_dict(orient='records')
X_val = dv.fit_transform(val_dicts)

In [ ]:
X_train.toarray().shape

In [ ]:
train_dicts

In [ ]:
target = 'duration'
y_train = df_train[target].values
y_val = df_val[target].values

In [ ]:
lr = LinearRegression()
lr.fit(X_train, y_train)

y_pred = lr.predict(X_val)

np.sqrt(mean_squared_error(y_val, y_pred))

In [ ]:
with open('models/lin_reg.bin', 'wb') as f_out:
    pickle.dump((dv, lr), f_out)

In [ ]:
lr = Lasso(0.1)
lr.fit(X_train, y_train)

y_pred = lr.predict(X_val)

np.sqrt(mean_squared_error(y_val, y_pred))